# Dependencies
node_modules

# Environment Variables
.env
.env.*
!.env.example

# Build Output
dist

# Netlify
.netlify

# IDE & Editor Directories
.vscode
.idea

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
